.product-slider {
    margin-bottom: 30px;

    ion-col {
        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 8px;
        }

        h2{ 
            margin-top: 8px;
            margin-bottom: 0;
        }

        p {
            margin-top: 5px;
            margin-bottom: 0;
        }

        h6 {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
}

ion-col:focus {
    outline: none !important;
}

.font-bold {
    font-weight: bold;
}

.custom-space {
    margin-bottom: 3px; /* Adjust the value as needed */
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Center the spinner vertically
}

.icon-container {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;

    ion-icon {
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }
}
