<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/forget-password" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-title>ResetPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-spinner color="tertiary" *ngIf="reset"></ion-spinner>

    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" required></ion-input>
      <ion-icon slot="end" [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
        (click)="togglePassword()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input [(ngModel)]="confirmNewPassword" [type]="confirmPassword ? 'text' : 'password'" required></ion-input>
      <ion-icon slot="end" [name]="confirmPassword ? 'eye-outline' : 'eye-off-outline'"
        (click)="toggleConfirmPassword()"></ion-icon>
    </ion-item>

    <ion-button expand="block" (click)="resetpassword()">
      Reset Password
    </ion-button>
  </div>
</ion-content>