<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>
    <ion-title>{{category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div *ngIf="dataLoaded && posts.length==0" class="spinner-container"> -->
  <div *ngIf="dataLoaded" class="spinner-container">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div class="product-slider ion-padding-start" *ngIf="posts.length>0">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let post of posts" class="ion-text-left" (click)="navigateToItemDetails(post.Id)">
          <div class="icon-container" (click)="addToFavourites($event, post.Id)">
            <ion-icon [name]="post.isFavourite ? 'heart' : 'heart-outline'"
              [color]="post.isFavourite ? 'danger' : 'medium'"></ion-icon>
          </div>

          <img src="{{post.image}}">
          <h2>{{post.title}}</h2>
          <p>${{post.price}}</p>
          <h6>{{post.offers}}</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <p *ngIf="posts.length==0">No Post available for this Category.</p> -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" *ngIf="loadMoreProducts">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>