.product-slider {
    margin-bottom: 30px;

    ion-slide {
        width: 150px;
        height: auto;
        margin-left: 20px;
        margin-right: 10px;

        ion-col {
            img {
                width: 100%;
                height: 180px;
                object-fit: cover;
                border-radius: 8px;
            }

            p {
                margin-top: 5px;
                margin-bottom: 0;
            }

            h6 {
                margin-top: 5px;
                margin-bottom: 0;
            }
        }
    }
}

ion-slide:focus {
    outline: none !important;
}

ion-col:focus {
    outline: none !important;
}

.icon-container {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;

    ion-icon {
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Center the spinner vertically
}