.add-icon {
    font-size: 32px; // Bigger size
    font-weight: bold; // Make it bolder
    margin: 10px; // Add some margin around it
}

.address-card {
    position: relative;
    margin: 10px 0; // Add spacing between cards

    ion-card-content {
        display: flex;
        flex-direction: column;
        padding-right: 80px; // Ensure there's space for the checkbox
        position: relative;
    }

    .address-details {
        h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-right: 80px; // Ensure the text doesn't overlap with the icons
            white-space: normal; // Allow text to wrap if it's too long      
        }

        // h4 {
        //     font-size: 14px;
        //     color: #666;
        //     margin: 0;
        // }
    }

    // Edit icon styles
    .edit-button {
        font-size: 28px; // Bigger size for the edit icon
        position: absolute;
        top: 10px; // Align it at the top
        right: 50px; // Ensure it's before the checkbox
        z-index: 1;
        color: #000; // Optional: Adjust the color of the icon
    }

    .delete-icon {
        font-size: 28px; // Bigger size for the delete icon
        position: absolute;
        bottom: 10px; // Position at the bottom of the card
        right: 10px; // Position at the right of the card
    }

    .address-checkbox {
        position: absolute;
        top: 10px;
        right: 10px;
        --size: 24px; // Customize checkbox size if needed
        --background: #fff;
    }

    &.selected {
        border: 2px solid var(--ion-color-primary); // Highlight selected card
    }
}

ion-footer {
    ion-toolbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    ion-button {
        --background: var(--ion-color-primary);
        --border-radius: 4px;
    }
}