.backbtn {
    margin-left: 15px;
}

ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 26px;
    --padding-end: 26px;
}

.centered-title {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.cart-items,
.wishlist-items {
    ion-card {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;

        ion-card-content {
            display: flex;
            position: relative;

            .item-img {
                display: flex;
                align-items: center;
                margin-right: 16px;

                img {
                    object-fit: cover;
                    width: 110px;
                    height: 110px;
                    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
                }
            }

            .item-info {
                position: relative;
                flex-grow: 1;

                h2 {
                    font-size: 16px;
                }

                p:nth-child(1) {
                    color: #434343;
                }

                p:nth-child(2) {
                    color: #919191;
                }

                p:nth-child(3) {
                    color: var(--ion-color-primary);
                }

                .qty-selector {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #f6f6f6;
                    border-radius: 5px;
                    margin-top: 10px;

                    ion-chip {
                        --color: #565656;
                    }

                    ion-label {
                        color: #565656 !important;
                        font-size: 16px;
                    }
                }

                .delete-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 24px;
                    cursor: pointer;
                }
            }
        }
    }
}

.wishlist-section {
    margin-top: 50px; // Space between cart items and wishlist section

    .wishlist-title {
        font-size: 22px;
        font-weight: bold;
        color: var(--ion-color-tertiary);
        padding: 15px 0;
        text-align: center;
        margin-bottom: 20px; // Add margin below the title to separate it from wishlist items
    }

    .wishlist-items {
        ion-card {
            margin-left: 0;
            margin-right: 0;
            border-radius: 0;
            margin-bottom: 15px; // Add space between each wishlist card

            ion-card-content {
                display: flex;
                position: relative;

                .item-img {
                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

ion-footer {
    padding-left: 20px;
    padding-right: 20px;

    .main-button::after {
        box-shadow: none !important;
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Center the spinner vertically
}

.empty-cart-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 70px); // Adjust height to ensure there's enough space for the footer and the wishlist title
    text-align: center;
    margin-bottom: 20px; // Increase space below the empty cart message
}

.font-bold {
    font-weight: bold;
}