<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-title class="centered-title">Cart</ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div *ngIf="loadCartData" class="spinner-container">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div *ngIf="!loadCartData && cartItems.length === 0" class="empty-cart-message">
    <p>Cart Empty!</p>
  </div>

  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let item of cartItems; let i = index">
      <ion-card-content>
        <div class="item-img">
          <img [src]="item.image" />
        </div>

        <div class="item-info">
          <h2 class="font-bold">{{ item.title }}</h2>
          <p>${{ item.price }}</p>
          <p>{{ item.color }}</p>
          <p>{{ item.size }}</p>



          <div class="qty-selector">
            <ion-chip fill="clear" color="tertiary" (click)="decreaseQuantity(item.Id, i)">-</ion-chip>
            <ion-label>{{item.quantity}}</ion-label>
            <ion-chip fill="clear" color="tertiary" (click)="increaseQuantity(item.Id, i)">+</ion-chip>
          </div>

          <ion-icon name="trash-outline" (click)="deleteAlert(item.Id)" color="danger" fill="outline"
            class="delete-icon"></ion-icon>
          <ion-spinner color="primary" *ngIf="item.isLoading"></ion-spinner>

        </div>
      </ion-card-content>
    </ion-card>



  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" *ngIf="cartItems.length > 0"
      (click)="goToCheckout()">Continue</ion-button>
  </ion-toolbar>
</ion-footer>