<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-container">
    <h1 class="title">Favourites</h1>
  </div>

  <div class="spinner-container" *ngIf="loadFavourites">
    <ion-spinner color="tertiary"></ion-spinner>
  </div>

  <div *ngIf="!loadFavourites && favouriteData.length == 0" class="empty-cart-message">
    <p class="font-bold">No Favourites.Please Add!</p>
  </div>

  <ion-grid *ngIf="!loadFavourites && favouriteData.length > 0">
    <ion-row>
      <ion-col size="6" class="ion-text-left padding-left0" *ngFor="let product of favouriteData" (click)="navigateToItemDetails(product.Id)">
        <div class="favorite-items">

          <!-- Red Heart Icon to remove from favourites -->
          <div class="icon-container">
            <ion-icon name="heart" color="danger" (click)="deleteFavourites($event, product.Id)"></ion-icon>
          </div>

          <img [src]="product.image"/>
          <p>{{product.title}}</p>
          <h6>${{product.price}}</h6>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="favorite($event)" *ngIf="loadMoreProducts">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>