<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/login" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item>
      <ion-label position="floating">Enter your email</ion-label>
      <ion-input [(ngModel)]="email" type="email" required></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="checkEmail()">
      Send OTP
    </ion-button>
    <ion-spinner color="tertiary" *ngIf="loadOTP"></ion-spinner>


    <div *ngIf="showOtpInput">
      <ion-item>
        <ion-label position="floating">Enter OTP</ion-label>
        <ion-input [(ngModel)]="otp" type="text" required></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="verifyOtp()">
        Verify OTP
      </ion-button>
    </div>

    <ion-spinner color="tertiary" *ngIf="verifyingOtp"></ion-spinner>
  </div>
</ion-content>